<!-- Show ExileTools Item JSON Debug Modal -->
<div zf-modal="" class="wide-json-dialog" id="showExileToolsItemJsonModal{{item._id}}">
	<!--a zf-close="" class="close-button">×</a-->
	<h4>ExileTools Item JSON</h4>
	<textarea class="code" rows="40" cols="160">{{item | json}}</textarea>
</div>


<div class="currency-seller clearfix">
	<span class="highlight">IGN: </span>
	<span>{{item._source.shop.lastCharacterName}}</span>
	<span
		class="online"
		ng-show="item._source.isOnline">
		Online
	</span>
	<i class="seperator"></i>
	<span class="highlight">Stock: </span>
	<span>{{item._source.properties.stackSize.current}}</span>
	<i class="seperator"></i>
	<a class="click small hollow whisper-btn noselect blacklist"
	   ng-click="addBlacklistCandidate(item._source.shop.sellerAccount)" zf-open="showAddBlacklistModal"
	   title="Add {{item._source.shop.lastCharacterName}} to blacklist.">
		Ignore
	</a>
	<a href="button" ng-click="prepareCurrencyTradingModal(item._source)" zf-open="">Contact</a>
</div>

<div class="grid-block currency-get">
	<div class="grid-block type grow">
		<div class="grid-block image shrink">
			<img src="{{item._source.info.icon}}" title="{{item._source.info.fullName}}" zf-open="showExileToolsItemJsonModal{{item._id}}">
		</div>
		<div class="grid-block text grow">
			<span class="name">{{item._source.info.fullName}} ({{item._source.properties.stackSize.current}})</span>
		</div>
	</div>
	<div class="grid-block ratio-wrapper shrink gradient-green">
		<div class="ratio-container">
			<span class="cost">{{(getCurrencyRatio(item._source.shop.price, item._source.properties.stackSize.current, item._source.shop.amount))}}</span>
		</div>
	</div>
	<div class="arrow left">←</div>
	<div class="arrow up">↑</div>
</div>

<div class="grid-block currency-pay">
	<div class="grid-block type grow">
		<div class="grid-block text grow">
			<span>{{item._source.shop.currency}}</span>
		</div>
		<div class="grid-block image shrink">
			<img src="{{item._source.info.icon}}" title="{{item._source.shop.currency}}" class="price {{item._source.shop.currency | cleanCurrency}}">
		</div>
	</div>
	<div class="grid-block ratio-wrapper shrink gradient-red">
		<div class="ratio-container">
			<span class="cost">1</span>
		</div>
	</div>
</div>

