<a href="#" zf-close="" ng-click="saveOptions()" class="button small saveOptionsLink" title="Saved Options."
   color="success" autoclose="2500" zf-notify="save-notification-options">
	Save
</a>
<a href="#" zf-close="" zf-open="showManageBlacklistModal" class="button small manageBlacklistLink" ng-if="enableBlacklistFeature">
	Manage Blacklist
</a>
<a zf-close="" class="close-button ng-scope">×</a>

<div class="grid-block search-options">
	<section class="block-list prefixes">
		<header>Search Prefixes</header>
		<ul>
			<li class="">
				<span class="checkboxLabel">Online Players Only</span>
				<div class="switch small">
					<input type="checkbox" ng-model="options.switchOnlinePlayersOnly" id="switch-onlinePlayersOnly">
					<label for="switch-onlinePlayersOnly">
						<img ng-show="options.switchOnlinePlayersOnly" zf-iconic="" icon="circle-check" size="small">
						<img ng-show="!options.switchOnlinePlayersOnly" zf-iconic="" icon="circle-x" size="small">
						<span ng-show="options.switchOnlinePlayersOnly">Search Online Players</span>
						<span ng-show="!options.switchOnlinePlayersOnly">Search All players</span>
					</label>
				</div>
			</li>
			<li class="with-dropdown">
				<select name="" ng-model="options.buyoutSelect.value" id="option-buyout"
						ng-options="v for v in options.buyoutSelect.options">
				</select>
			</li>
			<li class="with-dropdown">
				<select name="" ng-model="options.verificationSelect.value" id="option-verified"
						ng-options="v for v in options.verificationSelect.options">
				</select>
			</li>
			<li ng-repeat="input in options.searchPrefixInputs track by $index">
				<input type="text" ng-model="input.value" placeholder="Custom prefix">
			</li>
		</ul>
		<a href="" class="button small hollow" ng-click="addInputField()">Add Field</a>
	</section>
	<section class="block-list">
		<header>Select Default League</header>
		<ul>
			<li class="with-dropdown">
				<select name="" ng-model="options.leagueSelect.value" id="option-league"
						ng-options="v for v in options.leagueSelect.options">
				</select>
			</li>
		</ul>
		<!--
		<header>Select Leagues</header>
		<ul>
			<li class="with-dropdown">
				<select name="" ng-model="options.leagueSelect.value" id="option-league"
						ng-options="league.id as league.id for league in options.leagueSelect.leagues">
				</select>
			</li>
		</ul>
		-->
	</section>
	<section class="block-list">
		<header>General/Style Options</header>
		<ul>
			<!-- add/remove class "showLabelOnInput" to change switch appearance -->
			<li class="">
				<span class="checkboxLabel">Show PseudoMods</span>
				<div class="switch small">
					<input type="checkbox" ng-model="options.switchPseudoMods" id="switch-pseudoMods">
					<label for="switch-pseudoMods">
						<img ng-show="options.switchPseudoMods" zf-iconic="" icon="circle-check" size="small">
						<img ng-show="!options.switchPseudoMods" zf-iconic="" icon="circle-x" size="small">
						<span ng-show="options.switchPseudoMods">Show PseudoMods</span>
						<span ng-show="!options.switchPseudoMods">Hide PseudoMods</span>
					</label>
				</div>
			</li>
			<li class="">
				<span class="label-advancedStats checkboxLabel">Show Damage Ranges (Weapons)</span>
				<div class="switch small">
					<input type="checkbox" ng-model="options.showAdvancedStats" id="showAdvancedStats">
					<label for="showAdvancedStats">
						<img ng-show="options.showAdvancedStats" zf-iconic="" icon="circle-check" size="small">
						<img ng-show="!options.showAdvancedStats" zf-iconic="" icon="circle-x" size="small">
						<span ng-show="options.showAdvancedStats">Show Damage Ranges (Weapons)</span>
						<span ng-show="!options.showAdvancedStats">Hide Damage Ranges (Weapons)</span>
					</label>
				</div>
			</li>
			<li class="">
				<span class="checkboxLabel">Show 1 Item per row</span>
				<div class="switch small">
					<input type="checkbox" ng-model="options.switchItemsPerRow" id="switch-itemsPerRow"
						   ng-true-value="{maxWidth:'100%',flexBasis:'100%'}" ng-false-value="">
					<label for="switch-itemsPerRow">
						<img ng-show="options.switchItemsPerRow" zf-iconic="" icon="circle-check" size="small">
						<img ng-show="!options.switchItemsPerRow" zf-iconic="" icon="circle-x" size="small">
						<span ng-show="options.switchItemsPerRow">One Item per Row</span>
						<span ng-show="!options.switchItemsPerRow">Two Items per Row</span>
					</label>
				</div>
			</li>
			<header>Select Font</header>
			<li class="with-dropdown">
				<select name="" ng-model="options.fontSelect.value" id="option-font"
						ng-options="v for v in options.fontSelect.options" ng-change="setFontFamily()">
				</select>
			</li>
			<header>Select Notification Sound
						<span class="badge soundPreview" title="Preview Sound" ng-click="playSound()">
							<img zf-iconic="" icon="chevron" data-direction="right" size="small">
						</span>
			</header>
			<li class="with-dropdown">
				<select name="" ng-model="options.soundSelect.value" id="option-sound"
						ng-options="v for v in options.soundSelect.options" ng-change="loadSound()">
				</select>
			</li>
			<li class="">
				<span class="label-muteSound checkboxLabel">Mute notification sound</span>
				<div class="switch small">
					<input type="checkbox" ng-model="options.muteSound" id="muteSound">
					<label for="muteSound">
						<img ng-show="!options.muteSound" zf-iconic="" icon="circle-check" size="small">
						<img ng-show="options.muteSound" zf-iconic="" icon="circle-x" size="small">
						<span ng-show="options.muteSound">Mute Sound</span>
						<span ng-show="!options.muteSound">Play Sound</span>
					</label>
				</div>
			</li>
			<header class="volume">Change Notification Volume
				<input type="range" ng-model="options.notificationVolume" ng-change="changeNotificationVolume()"
					   min="0.1" max="1" step="0.05">
			</header>
		</ul>
	</section>
</div>
