<div ng-show="helpState">
	<zf-accordion class="spoiler guide showArrow">
		<zf-accordion-item title="Welcome to ExileTrade!">
			<p>
				ExileTrade is an advanced Path of Exile item search tool that is based on the concept of typing community jargons terms like
				<code>400pdps</code>, <code>2h</code> and <code>100life</code>.
			</p>
			<p>
				An index of these terms or <i>Search Terms</i> can be
				reviewed <a href="https://docs.google.com/spreadsheets/d/1jG2gzYuAukoJtYonlWghbkk9m5W6yGzM21cscpqJ5TU/pubhtml#" target="_blank" class="x-link"><strong>here</strong></a>. Below are a few example search:
			</p>
			<p>
			<ol>
				<li><a ng-click="doSavedSearch('5L pureev chest 90life 80res')">5L pureev chest 90life 80res</a></li>
				<li><a ng-click="doSavedSearch('shavs 4ex')">shavs 4ex</a></li>
				<li><a ng-click="doSavedSearch('24leveling')">24leveling</a></li>
				<li><a ng-click="doSavedSearch('ring 20-30fireres 20manaregen 20str')">(ring or ammy) 20-30fireres 20manaregen 20str</a></li>
				<li><a ng-click="doSavedSearch('350pdps mace -voidhome 10c')">350pdps mace -voidhome 10c</a></li>
			</ol>
			</p>
			<p>
				Questions? Feel free to contact us
				<a class="x-link" href="https://www.pathofexile.com/forum/view-thread/1602257" target="_blank">on the forums</a>,
				<a class="x-link" href="https://gitter.im/exiletrade/exiletrade" target="_blank">on the gitter chat</a> and
				<a class="x-link" href="https://www.reddit.com/r/pathofexile/comments/4f1hfu/exiletrade_new_domain_name_input/" target="_blank"> on reddit</a>.
			</p>
			<div>
				<zf-accordion auto-open="false" class="spoiler">
					<zf-accordion-item title="Further Help Topics">
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Setting Up">
									<p>
										First thing is to set the league you want to search. Click the <strong><em>cog</em></strong> <img zf-iconic="" icon="cog" size="small"> button on
										the left side to select your default for:
									<ol>
										<li>League</li>
										<li>Buyout Only</li>
										<li>Online Only</li>
									</ol>
									</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="My first search">
									<p>
										I want to search for a ring with at least 70 life, 60 total elemental resistances
										and 30% increased weapon	elemental damage. Well, it's a ring, so we type
										<code>ring</code>. Life is simply life, so we add <code>70life</code>,
										total resistances is usually refered as totaleleres or eleres, so we can type any
										of those: <code>60eleres</code>. Increased Elemental Damage with Weapons is
										refered to as wed, so we add <code>wed</code> to our search. That sums up to
										<code>ring 70life 60eleres 30wed</code>.
									</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Online Status">
									<p>
										Online status is determined as follows:
									<ol>
										<li>Player was online in the Ladder API for the past 5 mins. Only the top 15
											thousand players are tracked on the ladder while there are about 55k unique accounts with
											public stash tabs.
										</li>
										<li>Player had any activity with their public stash tab in the last 18 minutes.
										</li>
									</ol>
									</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Uniques">
									<p>
										If you want to search for a unique item, you simply have to type its name, without
										spaces.</p><p>Example: If I want a Kaom's Heart, i'll have to type <code>kaomsheart</code>,
									<code>kaomheart</code> or <code>kaom'sheart</code>. As you guys can see, there is
									space for variations on it. Apostrophes and stuff like <code>the</code> and <code>of</code> are optional.
								</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Sockets and Links">
									<p>
										If you want to search for sockets and links, it's also pretty easy.</p><p>Example:
									I want a 5 linked Lightning Coil. I just have to type: <code>lightningcoil 5l</code>.
									But honestly I want it to already come with the colors I need, 2 red, 2 greens and 1 blue.
									So I type: <code>lightningcoil 5l 2r 2g 1b</code>. Why not have all sockets on it?
									<code>lightningcoil 6s 5l 2r 2g 1b</code>.
								</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Gems">
									<p>
										Searching for gems works in the same way as searching for uniques, type the name of the gem without spaces.
									</p>
									<p>
										Example: I want a Blade Vortex: <code>bladevortex</code>. I want it to be at least level 18:
										<code>bladevortex glvl18</code>. I also want its quality to be 15+: <code>bladevortex glvl18 q15</code>
									</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Buyouts">
									<p>
										You can also add b/o's to your search, if you only want to see items under a determined price.
									</p>
									<p>
										Example: I want a 6l Vaal Regalia for 1 exalt. <code>vaalregalia 6l 1ex</code>
									</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Excluding results from search">
									<p>
										If you don't want an item to have a specific mod, life life because you're CI, you just
										need to type <code>-life</code> and the results will only display items without life. You can
										negate any existing search term, so if you want a nice mace but doesn't want to see
										Voidhomes, you just have to type <code>-voidhome</code>
									</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Searching for an item OR another">
									<p>
										Exile Tools makes a lot of apparently impossible searches possible. If you need gloves OR
										boots with 80eleres and 90life, <code>(gloves or boots) 90life 80eleres</code>. Notice that you
										need to put the items inside parens. You can even do advanced searches like
										<code>(25fireres 25coldres 25lightres 80res) OR (50res 20int) -unique</code>
									</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
						<div>
							<zf-accordion auto-open="false" class="spoiler">
								<zf-accordion-item title="Automated Search (experimental)">
									<p>
										To do an automated search, you just need to type your search parameters and click on
										the <strong><em>Auto</em></strong> icon on the right side of the search bar. It will
										save your search to the saved searches tab, that can be accessed by clicking the
										<strong><em>Flag</em></strong> icon, also on the right side of the search bar.
									</p>
									<p>
										Right now, after saving it, it will just run every entry on your "Automated Search List"
										for every N secs (30 sec atm). Every entry will then get a count
										(see <a class="x-link" href="https://cloud.githubusercontent.com/assets/75921/14062996/1220ada4-f3f0-11e5-9ff6-a2f13430946d.PNG" target="_blank">screenshot</a>),
										there's 1 tabula that's priced 10c. If the total count of all entries is > 0, a sound will be played.
									</p>
									<p>
										Note that automated search doesn't do "online only search" - this will be configurable
										when we change the "online only" as a search term. Also unlike Durian, it doesn't yet
										know if any items are new relative to previous run - but this can be worked around
										using negation; for example: we don't wanna see items from account or ign
										TestOnlyAccountName, you just add negation to seller search term like this:
										<code>pureev chest 80res 70life 1300ev -sellerTestOnlyAccountName</code>
									</p>
									<p>
										Note that the automated search is still in experimental stage.
									</p>
								</zf-accordion-item>
							</zf-accordion>
						</div>
					</zf-accordion-item>
				</zf-accordion>
			</div>
		</zf-accordion-item>
	</zf-accordion>
</div>