
<div id="main" class="grid-container" ng-controller="SearchController" exec-on-scroll-to-bottom="scrollNext()" ng-style="selectedFont">
	<!-- Spinner -->
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>

	<!-- Open Sidebar Buttons -->
	<a href="#" zf-toggle="searchOptions"  class="openOptions button" id="optionsButton">
		<img zf-iconic="" icon="cog" size="middle" class="">
	</a>
	<a href="#" zf-toggle="savedItemsPanel" class="openSaves button" id="savedItemsButton">
		<img zf-iconic="" icon="cart" size="middle" class="">
	</a>
	<a href="#" zf-toggle="savedSearchesPanel" ng-click="resizeGridFrame(true)" class="openSaves bookmark button">
		<img zf-iconic="" icon="bookmark" size="middle" class="">
	</a>


	<!-- Search Field Directive-->
	<div searchfield></div>

	<!-- Search Form Directive-->
	<!--<div searchform></div>-->

	<div class="grid-content search-status" ng-if="!exiletoolsAvailable && exiletoolsAvailableCheckingDone">
		<div class="search-broken">
			<p><img zf-iconic="" icon="Comment-square" size="small" class="iconic-color-alert">
				The <strong>Exiletools</strong> indexer seems to be unavailable. Sorry for the inconvenience.
			</p>
			<p>Go to <a href="https://twitter.com/exiletools" class="x-link" target="_blank"><strong>twitter.com/exiletools</strong></a> to get status updates
				or try again later.
			</p>
		</div>
	</div>

	<!-- Searchresults -->
	<div class="grid-content search-results">
		<div id="tabs">
			<div class="tab-headers grid-block" ng-show="(savedAutomatedSearches.length>0)">
				<div ng-repeat="tab in tabs"
					 ng-class="{active:isActiveTab(tab.id)}"
					 ng-click="onClickTab(tab)"
					class="grid-block text-center">
					<span class="tab-title">{{tab.title}}</span>
					<span class="alert badge" ng-show="tab.newItems">{{tab.newItems}}</span>
				</div>
			</div>
			<div class="tab-contents clearfix">
				<div class="grid-block search-items large-up-2 tab" ng-if="!isCurrencySearch"
					 ng-class="{active:isActiveTab(tab.id)}" ng-show="isActiveTab(tab.id)" ng-repeat="tab in tabs">
					<span ng-if="tab.id>0" class="tab-controls clearfix">
						<!--<a href="#" class="button hollow alert float-right" ng-click="removeAutosearch()">Remove Autosearch</a>
						<a href="#" class="button hollow warning float-right" ng-click="clearAutosearch()">Clear List</a>-->
					</span>
					<div class="grid-content item" ng-repeat="item in tab.response.hits.hits" ng-style="options.switchItemsPerRow"
						 data-id="{{item._id}}" data-md5sum="{{item._source.md5sum}}" data-uuid="{{item._source.uuid}}">
						<!-- Inserting templates/directives/item.html -->
						<div item></div>
					</div>
				</div>
				<div class="grid-block search-items search-currency large-up-2 tab" ng-if="isCurrencySearch && currencyTradingEnabled"
					 ng-class="{active:isActiveTab(tab.id)}" ng-show="isActiveTab(tab.id)" ng-repeat="tab in tabs">
					<span ng-if="tab.id>0" class="tab-controls clearfix">
						<!--<a href="#" class="button hollow alert float-right" ng-click="removeAutosearch()">Remove Autosearch</a>
						<a href="#" class="button hollow warning float-right" ng-click="clearAutosearch()">Clear List</a>-->
					</span>
					<div class="grid-content item currency" ng-repeat="item in tab.response.hits.hits" ng-style="options.switchItemsPerRow"
						 data-id="{{item._id}}" data-md5sum="{{item._source.md5sum}}" data-uuid="{{item._source.uuid}}">
						<!-- Inserting templates/directives/currency.html -->
						<div currency class="grid-block large-up-2 medium-up-2 small-up-1"></div>
					</div>
				</div>
				<div ng-show='isScrollBusy' class="scrollIndicator grid-content">
					<p class="loading">Loading data
						<span class="">.</span>
						<span class="">.</span>
						<span class="">.</span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="screenWidthCheck-640"></div>
</div>
