
<div id="main" class="grid-container" ng-controller="SearchController" exec-on-scroll-to-bottom="scrollNext()">
	<!-- Spinner -->
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>

	<!-- Open Sidebar Buttons -->
	<a href="#" zf-toggle="searchOptions"  class="openOptions button">
		<img zf-iconic="" icon="cog" size="middle" class="">
	</a>
	<a href="#" zf-toggle="savedItemsPanel" class="openSaves button">
		<img zf-iconic="" icon="cart" size="middle" class="">
	</a>
	<a href="#" zf-toggle="savedSearchesPanel" ng-click="resizeGridFrame(true)" class="openSaves bookmark button">
		<img zf-iconic="" icon="bookmark" size="middle" class="">
	</a>

	<!-- Search Field -->
	<div class="grid-content searchField">
		<div class="small-12 medium=12 grid-content">
			<label>
				<span class="inline-label">
					<a href="" ng-click="doSearch()" class="button" value="Search">
						<img zf-iconic="" icon="magnifying-glass" size="small">
					</a>
					<input id="searchField" ng-model="searchInput" placeholder="Search Input" my-enter="doSearch()" size="150" type="text">
					<a href="#" ng-click="saveLastSearch()" class="button small saveSearchNotificationLink" title="Save Search"
					   content="Saved: {{searchInput}}" color="success" autoclose="2500" zf-notify="save-notification-search">
						<img zf-iconic="" icon="circle-check" size="small">Save
					</a>
					<a href="#" ng-click="saveAutomatedSearch()" class="button small saveSearchNotificationLink" title="Save Automated Search"
					   content="Saved: {{searchInput}}" color="success" autoclose="2500" zf-notify="save-notification-search">
						<img zf-iconic="" icon="circle-check" size="small">Auto
					</a>
					<div class="searchStats" title="{{queryString}}" ng-if="Response.took" zf-open="showElasticJsonRequestModal">
						<div>
							<img zf-iconic="" icon="dashboard" size="small">
							<span>{{Response.took}} ms</span>
						</div>
						<div>
							<img zf-iconic="" icon="document" size="small">
							<span>{{Response.hits.total}} hits</span>
						</div>
					</div>
				</span>
			</label>
		</div>
		<zf-notification-set id="save-notification-search" position="top-left"></zf-notification-set>
		<zf-notification-set id="save-notification-options" position="top-right"></zf-notification-set>
		<zf-notification-static id="save-notification-whisper" color="success" zf-advise="" title="Whisper message copied." autoclose=2000>
		</zf-notification-static>

		<!--<a href="#" zf-toggle="savedSearchesPanel" class="button small absoluteNavBtn savedSearches">Show saved Searches/Items</a>-->
		<a href="#" ng-click="scrollToTop()" class="button small absoluteNavBtn scrollTop">Scroll Top</a>

		<button ng-click="playTestSound()" style="display:none">SoundTest</button>

		<!-- bad search input accordion -->
		<div ng-if="badSearchInputTerms.length" class="badSearchInputTerms">
			<zf-accordion>
				<zf-accordion-item title="Invalid Search Terms">
					<ul>
						<li ng-repeat="badTerm in badSearchInputTerms"><span>{{badTerm}}</span>
					</ul>
				</zf-accordion-item>
			</zf-accordion>
		</div>

		<!-- search terms guide accordion -->
		<div>
    		<zf-accordion auto-open="false" class="spoiler guide showArrow">
				<zf-accordion-item title="Search Terms Guide">
					<p>
						First thing is to set the league you want to search. Click the <strong><em>cog</em></strong> on the left of the search bar to select your league. The default league is <strong><em>Perandus SC</em></strong>. To learn how to search for common stuff, click the spoiler tags below. Always type the search without quotes.
					</p>
					<p>
						Next thing is to understand how the search engine works. Right now, a single term is considered a straight sequence of characters <strong><em>not separated by spaces</em></strong>. So, if you want to search for something that has a composed name, try typing everything together. We know that's not the best way to handle this, doesn't feel natural, but we're working on better ways to recognize user input.
						<br />
						That's also valid for the numeric value associated with the term, it has to come together with it, <strong><em>no spaces between them</em></strong>. For examples, just read the brief guide that follows.
					</p>
					<p>
						If you have any questions or suggestions, you can contact us <a href="https://www.pathofexile.com/forum/view-thread/1602257" target="_blank">on the forums</a>, <a href="https://gitter.im/exiletrade/exiletrade" target="_blank">on the gitter chat</a> and <a href="https://redd.it/4bvvh8"> on the lattest reddit post</a>. You may find a lot of usefull information on those places. We still have to document a lot of things that you find scattered around those social medias.
					</p>

					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Online Status">
								<p>
									The way that we currently determine the online status is as follows:
									<ol>
										<li>Seen online in the Ladder API for the past 5 mins. Note that there are 15 thousand players on the ladder while there are 55k unique accounts with public stash tabs last time I checked.</li>
										<li>Any player that had any activity with their public stash tab in the last 18 mins is considered online.</li>
									</ol>
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="My first search">
								<p>
									I want to search for a ring with at least 70 life, 60 total elemental resistances and 30% increased weapon	elemental damage. Well, it's a ring, so we type <code>'ring'</code>. Life is pretty much life, so we add <code>'70life'</code>, total resistances is usually refered as totaleleres or eleres, so we can type any of those: <code>'60eleres'</code>. Increased Elemental Damage with Weapons is refered to as wed, so we add <code>'wed'</code> to our search. That sums up to <code>'ring 70life 60eleres 30wed'</code>.
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Uniques">
								<p>
									If you want to search for a unique item, you simply have to type its name, without spaces.</p><p>Example: If I want a Kaom's Heart, i'll have to type <code>'kaomsheart'</code>, <code>'kaomheart'</code> or <code>kaom'sheart'</code>. As you guys can see, there is space for variations on it. Apostrophes and stuff like <code>'the'</code> and <code>'of'</code> are optional.
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Base Types">
								<p>
									If you want to search for a specific base type, you also only have to type its name.</p><p>Example: I want the "My first search" ring to be of a specific base, a Diamond Ring, i'll have to add to our search simply <code>'diamond'</code>: <code>'ring 70life 60eleres 30wed diamond'</code>
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Sockets and Links">
								<p>
									If you want to search for sockets and links, it's also pretty easy.</p><p>Example: I want a 5 linked Lightning Coil. I just have to type: <code>'lightningcoil 5l'</code>. But honestly I want it to already come with the colors I need, 2 red, 2 greens and 1 blue. So I type: <code>'lightningcoil 5l 2r 2g 1b'</code>. Why not have all sockets on it? <code>'lightningcoil 6s 5l 2r 2g 1b'</code>.
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Gems">
								<p>
									Searching for gems works in the same way as searching for uniques, type the name of the gem without spaces.
								</p>
								<p>
									Example: I want a Blade Vortex: <code>'bladevortex'</code>. I want it to be at least level 18:
									<code>'bladevortex glvl18'</code>. I also want its quality to be 15+: <code>'bladevortex glvl18 q15'</code>
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Buyouts">
								<p>
									You can also add b/o's to your search, if you only want to see items under a determined price.
								</p>
								<p>
									Example: I want a 6l Vaal Regalia for 1 exalt. <code>'vaalregalia 6l 1ex'</code>
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Talismans">
								<p>
									Looking for a talisman? You just have to type its name along with the other parameters.
								</p>
								<p>
									Example: <code>'ashscale 10firedmg 70life 20res'</code>
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Excluding results from search">
								<p>
									If you don't want an item to have a specific mod, life life because you're CI, you just
									need to type <code>'-life'</code> and the results will only display items without life. You can
									negate any existing search term, so if you want a nice mace but doesn't want to see
									Voidhomes, you just have to type <code>'-voidhome'</code>
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
					<div>
						<zf-accordion auto-open="false" class="spoiler">
							<zf-accordion-item title="Searching for an item OR another">
								<p>
									Exile Tools makes a lot of apparently impossible searches possible. If you need gloves OR
									boots with 80eleres and 90life, <code>(gloves or boots) 90life 80eleres</code>. Notice that you
									need to put the items inside parens. You can even do advanced searches like
									<code>((25fireres 25coldres 25lightres 80res) OR (50res 20int)) -unique</code>
								</p>
							</zf-accordion-item>
						</zf-accordion>
					</div>
				</zf-accordion-item>
			</zf-accordion>
		</div>

		<!-- search samples accordion -->
		<div ng-if="!Response">
			<zf-accordion class="sampleSearches showArrow">
				<zf-accordion-item title="Sample Searches">
					<ol>
						<li><a href="http://exiletrade.github.io/?q=(gloves%20or%20helm)%2050life%2060eleres&sortKey=shop.chaosEquiv&sortOrder=asc&limit=50">(gloves or helm) 50life 60eleres</a></li>
						<li><a href="http://exiletrade.github.io/?q=350pdps%20mace%20-voidhome%2010c&sortKey=shop.chaosEquiv&sortOrder=asc&limit=50">350pdps mace -voidhome 10c</a></li>
						<li><a href="http://exiletrade.github.io/?q=ring%2020-30fireres%2020manaregen%2020str&sortKey=shop.chaosEquiv&sortOrder=asc&limit=50">ring 20-30fireres 20manaregen 20str</a></li>
						<li><a href="http://exiletrade.github.io/?q=sword%20300pdps%20-flatacc%201ex&sortKey=shop.chaosEquiv&sortOrder=asc&limit=50">sword 300pdps -flatacc 1ex</a></li>
						<li><a href="http://exiletrade.github.io/?q=((25fireres%2025coldres%2025lightres%2080res)%20OR%20(50res%2020int))%20-unique&sortKey=shop.chaosEquiv&sortOrder=asc&limit=50">((25fireres 25coldres 25lightres 80res) OR (50res 20int)) -unique</a></li>
						<li><a href="http://exiletrade.github.io/?q=voidmanipulation&sortKey=shop.chaosEquiv&sortOrder=asc&limit=50">voidmanipulation</a></li>
						<li><a href="http://exiletrade.github.io/?q=pureev%205l%20chest&sortKey=shop.chaosEquiv&sortOrder=asc&limit=50"pureev 5l chest</a></li>
						<li><a href="http://exiletrade.github.io/?q=24leveling&sortKey=shop.chaosEquiv&sortOrder=asc&limit=50">24leveling</a></li>
					</ol>
				</zf-accordion-item>
			</zf-accordion>
		</div>

		<!-- Saved Searches Sidebar -->
		<div zf-panel="" id="savedSearchesPanel" position="right">
			<a zf-close="" ng-click="resizeGridFrame(false)" class="close-button ng-scope">×</a>
			<zf-accordion class="saved-search">
				<zf-accordion-item title="Saved Searches">
					<section class="block-list">
						<ul>
							<li class="" ng-repeat="data in savedSearchesList">
								<a href="#" ng-model="searchInput" ng-click="doSavedSearch(data)">{{data}}</a>
								<img zf-iconic="" icon="ban" size="small" class="" ng-click="removeSearchFromList(data)">
							</li>
						</ul>
					</section>
				</zf-accordion-item>
			</zf-accordion>
			<zf-accordion class="saved-search">
				<zf-accordion-item title="Automated Searches">
					<section class="block-list">
						<ul>
							<li class="" ng-repeat="data in savedAutomatedSearches">
								<a href="#" ng-model="data.searchInput" ng-click="doSavedSearch(data.searchInput)">{{data.searchInput}}&nbsp;&nbsp;{{data.count}}</a>
								<img zf-iconic="" icon="ban" size="small" class="" ng-click="removeAutomatedSearchFromList(data)">
							</li>
						</ul>
					</section>
				</zf-accordion-item>
			</zf-accordion>				
		</div>

		<!-- Saved Items Sidebar -->
		<div zf-panel="" id="savedItemsPanel" position="right">
			<a zf-close="" class="close-button ng-scope">×</a>
			<zf-accordion auto-open="false">
				<div class="accordion-item-wrapper" ng-repeat="data in savedItemsList" >
					<img zf-iconic="" icon="ban" size="small" class="" ng-click="removeItemFromList(data.itemId)">
					<zf-accordion-item title="{{data.itemDescription}}" ng-click="requestSavedItem(data.itemId)">

						<div class="grid-content">
							<div class="grid-block">
								<div class="grid-content item" ng-repeat="item in lastRequestedSavedItem" ng-if="item._source.shop.verified=='YES'">
									<div item></div>
								</div>
								<span class="availablity" ng-repeat="item in lastRequestedSavedItem" ng-if="item._source.shop.verified=='GONE'">
									Item available: {{item._source.shop.verified}}
								</span>
								<span ng-show="isEmpty(lastRequestedSavedItem)">Requesting Item...</span>
							</div>
						</div>
					</zf-accordion-item>
				</div>
			</zf-accordion>
		</div>


		<!-- Show Options Sidebar -->
		<div zf-panel="" id="searchOptions">
			<a href="#" zf-close="" ng-click="saveOptions()" class="button small saveOptionsLink" title="Saved Options."
			   color="success" autoclose="2500" zf-notify="save-notification-options">
				<img zf-iconic="" icon="circle-check" size="small">Save
			</a>
			<a zf-close="" class="close-button ng-scope">×</a>

			<div class="grid-block search-options">
				<section class="block-list">
					<header>Display Options</header>
					<ul>
						<li>
							<span>Show PseudoMods</span>
							<div class="switch small">
								<input type="checkbox" ng-model="options.switchPseudoMods" id="switch-pseudoMods">
								<label for="switch-pseudoMods"></label>
							</div>
						</li>
						<li>
							<span class="label-advancedStats">Show Advanced Item Stats</span>
							<div class="switch small">
								<input type="checkbox" ng-model="options.showAdvancedStats" id="showAdvancedStats">
								<label for="showAdvancedStats"></label>
							</div>
						</li>
						<li>
							<span>Show 1 Item per row</span>
							<div class="switch small">
								<input type="checkbox" ng-model="options.switchItemsPerRow" id="switch-itemsPerRow"
									   ng-true-value="{maxWidth:'100%',flexBasis:'100%'}" ng-false-value="">
								<label for="switch-itemsPerRow"></label>
							</div>
						</li>
						<li>
							<span>Online Players Only</span>
							<div class="switch small">
								<input type="checkbox" ng-model="options.switchOnlinePlayersOnly" id="switch-onlinePlayersOnly">
								<label for="switch-onlinePlayersOnly"></label>
							</div>
						</li>
					</ul>
				</section>
				<section class="block-list">
					<header>Search Prefixes</header>
					<ul>
						<li class="with-dropdown">
							<select name="" ng-model="options.buyoutSelect.value" id="option-buyout"
									ng-options="v for v in options.buyoutSelect.options">
							</select>
						</li>
						<li class="with-dropdown">
							<select name="" ng-model="options.verificationSelect.value" id="option-verified"
									ng-options="v for v in options.verificationSelect.options">
							</select>
						</li>
						<li ng-repeat="input in options.searchPrefixInputs track by $index">
							<input type="text" ng-model="input.value" placeholder="Custom prefix">
							<!--<img zf-iconic="" icon="ban" size="small" class="iconic-color-alert" ng-click="removeInputFromList(input)">-->
						</li>
					</ul>
					<a href="" class="button small hollow" ng-click="addInputField()">Add Field</a>
				</section>
				<section class="block-list">
					<header>Select Leagues</header>
					<ul>
						<li class="with-dropdown">
							<select name="" ng-model="options.leagueSelect.value" id="option-league"
								ng-options="v for v in options.leagueSelect.options">
							</select>
						</li>
					</ul>
				</section>
			</div>
		</div>

		<!-- Show Search Terms Doc Modal -->
		<div zf-modal="" class="wide-json-dialog" id="showSearchTermsDocModal">
			<!--a zf-close="" class="close-button">×</a-->
			<h4>Search Terms</h4>
			<div class="DivWithScroll">
				<table>
					<thead>
						<th>Term</th>
						<th>Translation</th>
					</thead>
					<tbody>
						<tr
							ng-repeat="(key, value) in termsMap"
							ng-class-odd="'rowOdd'"
							ng-class-even="'rowEven'">
							<td>{{key}}</td>
							<td>{{value.query}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Show Disclaimer Modal -->
		<div zf-modal="" id="showDisclaimerModal">
			<a zf-close="" class="close-button">×</a>
			<h3>About</h3>
			<p>This site is fan-made and not affiliated with Grinding Gear Games in any way. ExileTrade is fully open source under GNU General Public License v2.0.</p>
			<p>ExileTrade is powered by <a href="https://github.com/trackpete/exiletools-indexer">ExileTools Indexer Public API</a>.</p>
			<p>Visit our official forum thread at <a href="https://www.pathofexile.com/forum/view-thread/1602257">view-thread/1602257</a>.</p>
			<h5>Support Us</h5>
			<p>Buy us a couple of beer!</p>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=3BULCX8UDSN9S&lc=PH&item_name=Durian%20Open%20Source%20Project&currency_code=USD&bn=PP%2dDonationsBF%3aO6Y32pY%2epng%3aNonHosted">
				<img src="http://i.imgur.com/O6Y32pY.png" />
			</a>
		</div>

		<!-- Show Elastic JSON Request Debug Modal -->
		<div zf-modal="" id="showElasticJsonRequestModal">
			<a zf-close="" class="close-button">×</a>
			<h4>Elastic JSON Request</h4>
			<textarea class="code" rows="30" cols="160">{{elasticJsonRequest}}</textarea>
		</div>
	</div>

	<!-- Searchresults -->
	<div class="grid-content search-results">
		<div class="grid-block search-items large-up-2">
			<div class="grid-content item" ng-repeat="item in Response.hits.hits" ng-style="options.switchItemsPerRow"
				 data-id="{{item._id}}" data-md5sum="{{item._source.md5sum}}" data-uuid="{{item._source.uuid}}">
				<!-- Inserting templates/directives/item.html -->
				<div item></div>
			</div>
		</div>
		<div ng-show='isScrollBusy' class="scrollIndicator grid-content">
			<p class="loading">Loading data
				<span class="">.</span>
				<span class="">.</span>
				<span class="">.</span>
			</p>
		</div>
	</div>
</div>
